<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     
   <div class="contenair">
    <div class="navigation">
        <ul>

            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            
            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="library-outline"></ion-icon></span>
                    <span class="title">Cours actuels</span>
                </a>
            </li>

            <li>
                <a href="devoir.html">
                    <span class="icon"><ion-icon name="pencil-outline"></ion-icon></span>
                    <span class="title">Devoirs à venir</span>
                </a>
            </li>

            <li>
                <a href="bulletin.html">
                    <span class="icon"><ion-icon name="book-outline"></ion-icon></span>
                    <span class="title">Bulletin</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                    <span class="title">Calendrier</span>
                </a>
            </li>

            <li>
                <a href="annonce.html">
                    <span class="icon"><ion-icon name="list-outline"></ion-icon></span>
                    <span class="title">Annonce</span>

                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon">
                        <ion-icon name="log-out-outline"></ion-icon>
                    </span>
                    <span class="title">Se deconnecté</span>
                </a>
            </li>

        </ul>
    </div>
     
     <div class="main">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="search">
                <label>
                    <input type="text" placeholder="Recherche">
                    <ion-icon name="search-outline"></ion-icon>
                </label>
            </div>
        </div>
         
         <div class="details">
            <div class="InformationSurLesProfesseurs">
                <div class="cardHeader">
                    <h2>InformationSurLesProfesseurs</h2>
                    <a href="#" class="btn">Voir Plus</a>
                </div>

                <table>
                    <thead>
                        <tr>
                            <td>Matière</td>
                            <td>Responsable</td>
                            <td>Numéro</td>
                            <td>Adresse Mails</td>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Genie Logiciel</td>
                            <td>M.Toure</td>
                            <td>775557686</td>
                            <td>bassirouToure@esp.sn</td>
                        </tr>

                        <tr>
                            <td>POO</td>
                            <td>M.diop</td>
                            <td>774569876</td>
                            <td>mouhamedDiop@esp.sn</td>
                        </tr>

                        <tr>
                            <td>UML</td>
                            <td>M.Bah</td>
                            <td>779870965</td>
                            <td>allasanebah@esp.sn</td>
                        </tr>

                        <tr>
                            <td>SGBD</td>
                            <td>M.Diallo</td>
                            <td>776540923</td>
                            <td>alidiallo@esp.sn</td>
                        </tr>

                        <tr>
                            <td>anglais</td>
                            <td>M.Fall</td>
                            <td>769876532</td>
                            <td>moussafall@esp.sn</td>
                        </tr>

                        <tr>
                            <td>Droit</td>
                            <td>M.Gueye</td>
                            <td>786543495</td>
                            <td>laminegueye@esp.sn</td>
                        </tr>

                        <tr>
                            <td>Probabilité</td>
                            <td>M.WANE</td>
                            <td>789653453</td>
                            <td>fallouwane@esp.sn</td>
                        </tr>

                        <tr>
                            <td>TEC</td>
                            <td>M.Dane</td>
                            <td>762348756</td>
                            <td>mouhameddane@esp.sn</td>
                        </tr>
                    </tbody>
                </table>
            </div>
             <!-- ================= communication ================ -->
             <div class="EspaceDeCommunication">
                <div class="cardHeader">
                    <h2>Espace de communication</h2>
                </div>

                <table>
                    <tr>
                        <td>
                            <h4>Communiquer avec un enseignant</h4>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4>Poser des questions sur les cours</h4>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4>Demander du soutien</h4>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h4>Demander des conseils</h4>
                        </td>
                    </tr>
                </table>
    
</div>
<!--=============== Sript ===============-->
<script src="projet.js"></script>


<!--===============icon===============-->>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
