
.forme-nav{



    color: rgba(18, 79, 125, 0.823);



    width: 100%;
    display: flex;
    // background-color: black;
}
.contenu-nav{
    width: 100%;
    display: flex;
   
}
.contenu-nav p{
   text-align: center;
//    color:rgba(21, 77, 155, 0.808);  
   color: whitesmoke;
    font-size: 2em;
   font-weight: 700;
   margin-left:50px;
   margin-top: 100px;
}
body{
    // background-color: black;
    margin: 0;
    top: 0;
    margin-top: 0;
    margin-top: -100px;
    // margin-top: -120px;
    width: 100vw;
    height: 700px;
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.formulaire{
    background-color: rgba(45, 100, 135, 0.533);
    // background: transparent;
    width: 60%;
    min-height: 20vh;
    height: 600px;
    margin-left: 250px; 
    padding-top: 50px;
    
    // padding: 100px 10px 10px;
    // margin: -30px 200px 200px;
    // display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    box-shadow: 2px 3px 60px 2px rgba(246, 243, 243, 0.98);

    
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -130px;
    // background-color: black;
}
.container h1{
    color: whitesmoke;
    font-size: 2.4em;
    
}

.login-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input{
    width: 70%;
    margin: 7px auto;
    padding:15px;
    border-radius: 60px;
    outline: none;
    border: none;
    font-size: 1.1em;
    color: white;
    background: rgba(163, 162, 162, 0.628);
    box-shadow: 2px 3px 30px 2px rgba(245, 245, 245, 0.662);
    // color: rgba(142, 29, 29, 0.89);
    border: 0.3px solid rgb(75, 63, 65);
}


.btn-all{
    background:rgba(245, 245, 245, 0.632);
    border: 2px solid rgb(75, 63, 65);
    color: black;
    font-weight: 600;
    // width: 50%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    padding: 6px;
    border-bottom: 350px;
    border-radius: 10px;
    width: 30%;
    font-size: 20px;
    // border: 40px solid rgb(227, 149, 162) ;
}

.btn-all:hover{
    background: rgba(248, 247, 250, 0.099);
    cursor: pointer;
    width: 35%;
    color:black;
    border: 2px solid rgb(255, 248, 249);


}




// .btn-all{
//     background: rgba(64, 50, 194, 0.966);
//     color: white;
//     width: 50%;
//     margin: 1rem auto;
//     display: flex;
//     justify-content: center;
//     padding: 10px;
//     border-radius: 1rem;
// }

// .btn-all:hover{
//     background: rgba(131, 121, 189, 0.2);
//     cursor: pointer;
// }




/* You can add global styles to this file, and also import other style files */



