
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
    <!-- <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.min.css"> -->
    <title>Document</title>
</head>
<body>
    <input type="checkbox" name="" id="menu">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-user-o"> </span> Learn Programming</h2>
        </div>
    
        <div class="sidebar-menu">
            <ul>
                <li><a href="#" class="active"><span class="fa fa-home"></span><span>Accueil</span></a></li>
                <li><a href="#"><span class="fa fa-tasks"></span><span>Statistiques</span></a></li>
                <li><a href="#"><span class="fa fa-th-large"></span><span>Matieres</span></a></li>
                <li><a href="#"><span class="fa fa-address-book"></span><span>Profil</span></a></li>
                <li><a href="#"><span class="fa fa-clipboard"></span><span>Projets</span></a></li>
                <li><a href="#"><span class="fa fa-user"></span><span>Contact</span></a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <header>
            <p><label for="menu"><span class="fa fa-bars"></span></label><span class="accueil">Accueil</span></p>
        
            <div class="search-wrapp">
                <span class="fa fa-search"></span>
                <input type="search" name="" placeholder="recherche">
            </div>
        
            <div id="dropdown" class="user-wrapp">
                <div>
                    <h4>Mr Toure</h4>
                    <small>Admin</small>
                </div>
                <div class="dropdown-content">
                    <p>Profil</p>
                    <p>Deconnexion</p>
                </div>
            </div>
        </header>
        <main>
            <div class="cards">
                 <div class="card-single">
                     <div>
                         <h2>Genie Logiciel</h2>
                     </div>
                     <div>
                     </div>
                 </div>
            
                 <div class="card-single">
                     <div>
                         <h2>Java</h2>
                        
                     </div>
                     <div>
                     </div>
                 </div>
            
            
                 <div class="card-single">
                     <div>
                         <h2>Langage C</h2>
                     </div>
                     <div>
                     </div>
                 </div>
            
                 <div class="card-single">
                     <div>
                     <h2>Developpement Web</h2>
                    
                     </div>
                     <div>
                 </div>
            
             </div>
            </div>
            <div class="calendar">
                <div class="mois-annee">
                    <ul>
                        <li class="prev">&#10094;</li>
                        <li class="next">&#10095;</li>
                        <li>Avril <br /> <span>2024</span></li>
                    </ul>
                </div>

                <ul class="mois">
                    <li>Mo</li>
                    <li>Tu</li>
                    <li>We</li>
                    <li>Th</li>
                    <li>Fr</li>
                    <li>Sa</li>
                    <li>Su</li>

                </ul>

                <ul class="jours">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li>9</li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li><span class="active">18</span></li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>27</li>
                    <li>28</li>
                    <li>29</li>
                    <li>30</li>
                    <li>31</li>

                </ul>
            </div>
        </main>
</div>
</body>
</html>