     <!-- index2.html   plateforme/dossierHTML1 -->


     <!DOCTYPE html>
     <html>
     
     <head>
         <meta charset="UTF-8">
         <meta http-equip="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!-- <link rel="stylesheet" href="C:\Users\LENOVO\Desktop\plateforme\dossierCSS\style2.css"> -->
         <link rel="stylesheet" href= "https://use.fontawesome.com/releases/v5.13.0/css/all.css">
     
         <title>FORMULAIRE2</title>
     </head>
     
     <body>
        <!-- <section class="premiere">
             
        </section> -->           
        <section class="deuxieme">
            <div class="titre">
                <h3> GESTION DE L’EFFECTIVITE DES ENSEIGNEMENTS  </h3>
            </div>
            <div class="contenu">                     
                 <div class="box">
                    <!-- <div class="Gestion"> -->
                     <div class="Partie">
                         <h3> Suivi périodique des enseignements effectués  </h3>
                     </div>
                     <div class="text">
                         <!-- <p>Ce module contient tout ce qui est relatif aux cours</p> -->
                         <p> Contrôle régulier de la conformité entre les enseignements dispensés et les programmes établis, garantissant ainsi une mise en œuvre efficace des contenus pédagogiques.</p>
                     </div>
                     <div id="button"  class="voir">
                        <!-- <button type="submit" name="voir">Se Connecter</button> -->
                        Voir ...
                    </div>
                 </div>
     
                 <div class="box">
                     <div class="Partie">
                         <h3>Vérification semestrielle de l’exécution des programmes</h3>
                     </div>
                     <div class="text">
                         <!-- <p>Ce module contient tout ce qui est relatif aux absences</p> -->
                         <p>Suivi régulier des activités d'enseignement réalisées, permettant d'évaluer la qualité et la progression des cours dispensés afin d'optimiser l'expérience d'apprentissage des étudiants.</p>
                     </div>
                     <div id="button1" class="voir1">
                        <!-- <button type="submit" name="voir">Se Connecter</button> -->
                        Voir ...
                    </div>
                </div>

            </div>
        </section>  
     </body>
     </html>









